.main__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;  
    margin: 40px 0 55px; 
    max-width: 450px;
    transition: ease-in 0.3s;
}

@media screen and (max-width: 1024px) {
    .main__subtitle {
        font-size: 16px;
        line-height: 25px;   
    }    
}

  @media screen and (max-width: 768px) {
    .main__subtitle {
        font-size: 15px;
        line-height: 20px;   
    }    
}

@media screen and (max-width: 425px) {
    .main__subtitle {
        margin: 30px 0 40px;    
    }    
}
