.content__input {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(214, 212, 212, 0.411);
    height: 40px;
    margin-bottom: 10px;
}

.content__input:focus {
    outline-color: #fff6c5;
}

.content__input::placeholder {
    color: rgba(71, 71, 71, 0.233);
    padding: auto 0 auto 50px;
}